html, body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-image: url("fondoInicio.jpeg");
}

input[type="text"], input[type="password"]{
	outline: none;
	padding: 20px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: 20px auto;
}

h1{
	color: #fff;
}

input[type="submit"]{
	padding:10px;
	color: #fff;
	background:#0098cb;
	width:320px;
	margin:20px auto;
	margin-top: 0;
	border:0;
	border-radius: 3px;
	cursor:pointer;
}

input[type="submit"]:hover {
	background-color: #00b8eb;
	}

span{
	color: #fff;
}

header{
	border-bottom:  2px solid #eee;
	padding: 20px 0;
	margin-bottom:  10px;
	width:100%;
	text-align:center;
	color: #fff;
}

a{
	color:lightgray;
	font-size: 20px;
}



header a {
	font-size: 39px;
	text-decoration: none;
	color: #fff;
}

